
  .custom-modal{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  max-width: 800px; /* Limitar a largura */
  height: 110%;
  max-height: 600px; /* Limitar a altura */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Adicionar scroll se necessário */
  }

  .cart-item-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-top: 10px;
  }
  .product-gip{
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Máximo de 3 produtos por linha */
    gap: 20px; /* Espaçamento entre os produtos */
  }
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    
  }

  .details-button {
    margin-top: 10px;
    padding: 10px 20px;
    /* background-color: #007bff;
    color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.cart-item-actions button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.proceed-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  /* background-color: #ffc107;*/
  color: black; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.details-button {
  margin-top: 10px;
  padding: 10px 20px;
  /* background-color: #007bff;*/
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card-image {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-details h2 {
  margin: 19px 0;
  font-size: 0.9em;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.card-details p {
  margin: 1px 0;
}

.buy-button, .details-button {
  padding: 9px 9px;
  margin: 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.buy-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
} 
.cart-item-actions span {
  margin: 0 10px;
}



























